################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/KeepMyPeople
/KeepMyPeople.Bridge/bin/Debug/net8.0
/KeepMyPeople.Bridge/obj
/KeepMyPeople.Data/bin/Debug/net8.0
/KeepMyPeople.Data/obj
/KeepMyPeople.MeConsole/bin/Debug/net8.0
/KeepMyPeople.MeConsole/obj
/KeepMyPeople.OtherConsole/bin/Debug/net8.0
/KeepMyPeople.OtherConsole/obj
/KeepMyPepole.Constants/obj
/KeepMyPepole.Constants/bin/Debug/net8.0
